@import 'compass/reset';
@import 'compass/css3';


.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    .home {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        @include border-radius(50%);
        float: left;
        border: 1px solid #534292;
        background-color: #534292;
        i {
            color: #fff;
            font-size: 1rem;
        }
    }
    .new-article {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        @include border-radius(50%);
        float: right;
        border: 1px solid #534292;
        background-color: #534292;
        i {
            color: #fff;
            font-size: 1rem;
        }
    }
}

article {
    position: relative;
    margin: 5px 0;
    background-color: #534292;
    .post-header {
        position: relative;
        padding: 5px;
        overflow: hidden;
        .user-avatar {
            img {
                @include border-radius(50%);
            }
        }
    }
    .post-body {
        position: relative;
        .post-content {
            color: #fff;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .post-comment {
        position: relative;
        overflow: hidden;
        padding: 5px;
        .comment-btn {
            position: relative;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            @include border-radius(50%);
            i {
                color: #fff;
                font-size: 18px;
            }
        }
    }
}
