<!DOCTYPE html>
<html lang="en">
<head>
    <%- include head -%>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="home">
                <i class="fa fa-home"></i>
            </div>
            <div class="new-article">
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </nav>
    <div class="content col-md-12">
        <div class="container">
            <article class="col-md-12">
                <header class="post-header">
                    <div class="user-avatar pull-left">
                        <img src="../images/grass.jpg" alt="" width="30" height="30">
                    </div>
                </header>
                <div class="post-body">
                    <p class="post-content">妈个鸡妈个鸡妈个鸡</p>
                </div>
                <div class="post-comment">
                    <div class="comment-btn pull-right">
                        <i class="fa fa-commenting"></i>
                    </div>
                </div>
            </article>
            <article class="col-md-12">
                <header class="post-header">
                    <div class="user-avatar pull-left">
                        <img src="../images/grass.jpg" alt="" width="30" height="30">
                    </div>
                </header>
                <div class="post-body">
                    <p class="post-content">妈个鸡妈个鸡妈个鸡</p>
                </div>
                <div class="post-comment">
                    <div class="comment-btn pull-right">
                        <i class="fa fa-commenting"></i>
                    </div>
                </div>
            </article>
            <article class="col-md-12">
                <header class="post-header">
                    <div class="user-avatar pull-left">
                        <img src="../images/grass.jpg" alt="" width="30" height="30">
                    </div>
                </header>
                <div class="post-body">
                    <p class="post-content">妈个鸡妈个鸡妈个鸡</p>
                </div>
                <div class="post-comment">
                    <div class="comment-btn pull-right">
                        <i class="fa fa-commenting"></i>
                    </div>
                </div>
            </article>
            <article class="col-md-12">
                <header class="post-header">
                    <div class="user-avatar pull-left">
                        <img src="../images/grass.jpg" alt="" width="30" height="30">
                    </div>
                </header>
                <div class="post-body">
                    <p class="post-content">妈个鸡妈个鸡妈个鸡</p>
                </div>
                <div class="post-comment">
                    <div class="comment-btn pull-right">
                        <i class="fa fa-commenting"></i>
                    </div>
                </div>
            </article>
            <article class="col-md-12">
                <header class="post-header">
                    <div class="user-avatar pull-left">
                        <img src="../images/grass.jpg" alt="" width="30" height="30">
                    </div>
                </header>
                <div class="post-body">
                    <p class="post-content">妈个鸡妈个鸡妈个鸡</p>
                </div>
                <div class="post-comment">
                    <div class="comment-btn pull-right">
                        <i class="fa fa-commenting"></i>
                    </div>
                </div>
            </article>
        </div>
    </div>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>